<!DOCTYPE html>
{% load browserid %}
{% load staticfiles %}
<html>
  <body>
    {% browserid_info %}
    <header>
      <h1>My Site</h1>
      <div class="authentication">
        {% if user.is_authenticated %}
          {% browserid_logout text='Logout' %}
        {% else %}
          {% browserid_login text='Login' %}
        {% endif %}
      </div>
    </header>
    <article>
      <p>Welcome to my site!</p>
    </article>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{% static "browserid/browserid.js" %}"></script>
    <script src="http://localhost:10002/include.js"></script>
  </body>
</html>
