<!DOCTYPE html>
{% load browserid %}
{% load staticfiles %}
<html>
  <head>
    <title>ZAuth</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/persona-buttons.css" %}" />
    <style type="text/css">
      .browserid_login{width:300px;}
      .authentication{display:none;}
      .authentication a{margin-bottom:40px;}
    </style>
  </head>
  <body>
    {% browserid_info %}
    <header>
      <div class="notification">Đang chờ xử lý ...</div>
      <div class="authentication">
        {% if user.is_authenticated %}
          {% browserid_logout text='Đăng xuất khỏi Zimbra' link_class='persona-button'%}
        {% else %}
          {% browserid_login text='Đăng nhập vào Zimbra' link_class='persona-button' %}
        {% endif %}
      </div>
    </header>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{% static "browserid/browserid.js" %}"></script>
    <!-- <script src="http://localhost:10002/include.js"></script> -->
    <script src="http://browserid.evlscript.org/include.js"></script>
    <!-- <script src="https://login.persona.org/include.js"></script> -->
  </body>
</html>
